@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: 11 32 54;              /* #0B2036 */
  --color-background: 207 244 230;           /* #CFF4E6 */
  --color-primary: 78 131 161;               /* #4E83A1 */
  --color-secondary: 207 244 230;           /* #CFF4E6 */
  --color-tertiary: 95 88 143;            /* #5F588F */
  --color-support: 252 206 165;            /* #FCCEA5 */
  --color-disabled: 158 178 189;           /* #9EB2BD */
  --color-dark: 8 17 26;        /*#0B1724 */
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-end-rgb))
    )
    rgb(var(--foreground-start-rgb));
}

html {
  color-scheme: light !important;
}

* 


p, li {
  @apply text-sm sm:text-base text-background;
}

h1 {
  @apply text-lg sm:text-xl mb-5 text-background font-bold;
}

h2 {
  @apply text-md sm:text-lg text-background;
}

h3 {
  @apply text-base sm:text-md text-background;
}

h4 {
  @apply text-sm sm:text-base text-background font-bold;
}

small {
  @apply text-xs text-background italic;
}

figcaption {
  @apply italic mt-2 text-[0.75rem];
}

label {
  @apply text-sm text-background font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}